node_modules/
coverage/
.DS_Store
TAGS
.nyc_output/
*.js.map
jsconfig.json
typings/
typings.json
.vscode/
tools/
docs/
test/
man_src/
Dockerfile
.editorconfig
.eslintrc.js
.gitmodules
.jsdoc.conf
.travis.yml
.waiting.html
test-vectors/
.dockerignore
npm-debug.log
cli/
.ncurc.json
t.js
