body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:cornsilk;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.cmd {
  margin: 0 10px 5px 10px;
}

#to {
  float: right;
}

h3 {
  margin: 0 10px 5px 10px;
}

textarea {
  margin: 0 10px 0 10px;
}

.power {
  margin: 10px;
}
